<% include ../partials/head %>
<% include ../partials/header %>
    <!-- multistep form -->
    <div class="container">
    <div class="row">
        <form id="msform" action="/events" method="POST">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Event Setup</li>
                <li>Event Info</li>
                <li>Contact Details</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Create your Event</h2>
                <h3 class="fs-subtitle">Let's start!</h3>
                <input type="text" name="event_name" placeholder="Event Name" />
                <input type="text" name="address1" placeholder="Address 1" />
                <input type="text" name="city" placeholder="City" />
                <input type="text" name="state" placeholder="State" />
                <input type="text" name="zip" placeholder="Zip" />
                <input type="number" name="volunteers" placeholder="# of Volunteers Needed" />
                <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Event Description</h2>
                <h3 class="fs-subtitle">Add a description of the event</h3>
                <textarea type="Description" name="description" class="form-control" id="inputDescription" placeholder="Type your event description here..."></textarea>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title"> Date and Contact Details</h2>
                <h3 class="fs-subtitle">We will never give it away</h3>
                <input type="Date" name="date" class="form-control" id="inputDate">
                <input type="Time" name="start_time" class="form-control" id="inputTime">
                <input type="Time" name="end_time" class="form-control" id="inputTime">
                <input type="text" name="organizer" value="<%=currentUser.first_name+' '+currentUser.last_name%>"/>
                <input type="email" name="email" value="<%=currentUser.email%>"></input>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="submit" name="submit" class="submit action-button" value="Submit" />
            </fieldset>
        </form>
    </div>
</div>
    <% include ../partials/footer %>