<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="footer-about">About</h3>
                <p>We strive to help teens and young adults build their resumes and help their communities by finding volunteer
                    opportunities in their area.</p>
            </div>
            <div class="col-md-6 ml-auto">
                <div class="row row-links">
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li>
                                <a class="nav-link" href="index.ejs">Home</a>
                            </li>
                            <li>
                                <a class="nav-link" href="events.ejs">View Events</a>
                            </li>
                            <li>
                                <a class="nav-link" href="login.ejs">Log In</a>
                            </li>
                            <li>
                                <a class="nav-link" href="signup.ejs">Sign Up</a>
                            </li>
                            <li>
                                <a class="nav-link" href="contact.ejs">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved</p>
            </div>
        </div>
    </div>
</footer>
<!-- END footer -->
</body>

</html>
