<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="map"></div>
        </div>
    </div>
</div>
<!-- End main -->

</div>
<!-- End main -->
<footer class="site-footer bg-dark">
    <div class="container">
        <div class="row row-footer col-12">
            <div class="col-md-6 col-sm-12">
                <h3 class="footer-about">About</h3>
                <p>We strive to help teens and young adults build their resumes and help their communities by finding volunteer
                    opportunities in their area.</p>
                <a href="https://www.facebook.com/Volunteers-In-Action-485794838501240/">
                    <i class="fab fa-facebook fa-7x"></i>
                </a>
                <a href="https://instagram.com/p/BkllHQchVXc/">
                    <i class="fab fa-instagram fa-7x"></i>
                </a>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row row-link">
                    <ul class="list-unstyled">
                        <li>
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/events">View Events</a>
                        </li>
                        <%if(!currentUser){%>
                            <li>
                                <a class="nav-link" href="/login">Log In</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/signup">Create Account</a>
                            </li>
                            <%}%>
                                <li>
                                    <a class="nav-link" href="mailto:<volunteersinaction@gmail.com>">Contact Us</a>
                                </li>
                    </ul>
                </div>
            </div>
            <div class="row row-copyright">
                <p>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved</p>
            </div>
        </div>
    </div>
    </div>
</footer>
<!-- END footer -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/assets/js/newForm.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/popover.js"></script>
</body>

</html>