<!doctype html>
<html lang="en">

<body>
    <div>
        <header role="banner">
            <nav class="navbar navbar-expand-md bg-dark">
                <div class="container">
                    <a class="navbar-brand absolute" href="/index">Volunteers in Action</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse navbar-light">
                        <ul class="navbar-nav mx-auto absolute-right">
                            <li class="nav-item">
                                <a class="nav-link active" href="/index">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/events">View Events</a>
                            </li>

                            <%if(!currentUser){%>
                                <!-- Added a logic to show login and sign up when a user is not logged in  -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">Login</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/signup">Sign Up</a>

                                    <% }else{%>
                                        <!-- logic to show create event, logout and username when a user is logged in  -->

                                        <li class="nav-item">
                                            <a class="nav-link" href="/events/new">Create Event</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Welcome
                                                <%=currentUser.username%>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout">Logout</a>
                                        </li>
                                        <%}%>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <!-- END header -->
    <div id="main">