<!-- views/partials/header.ejs -->

<!doctype html>
<html lang="en">

<body>

    <header role="banner">

        <nav class="navbar navbar-expand-md navbar-dark bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="../pages/index.ejs">Volunteers in Actions</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse navbar-light">
                    <ul class="navbar-nav mx-auto absolute-right">
                        <li class="nav-item">
                            <a class="nav-link active" href="../pages/index.ejs">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../pages/events.ejs">View Events</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../pages/new.ejs">Create Event</a>
                        </li>

                        <!-- <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li> -->
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->