
<% include ./partials/header %>

<br><br><br>
<div class="row row-homeImage">
    <img src="/assets/images/teen_volunteers.jpg"
</div>
<h1>This will be the home page</h1>





<% include ./partials/footer %>