<% include ./partials/head %>
<% include ./partials/header %>
    <br>
    <br>
    <div class="container container-hero">
        <img class="homeImg" src="/assets/images/teenage_volunteers.jpg">
    </div>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1 class="display-4">Welcome to Volunteers in Action!</h1>
            <p class="lead">We are here to help you meet your volunteering goals!</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="card col-lg-4 col-md-4 col-sm-6">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card col-lg-4 col-md-4 col-sm-6">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card col-lg-4 col-md-4 col-sm-6">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <% include ./partials/footer %>