<% include ./partials/header %>

<h1>This will be the create new event page that will have the form</h1>


<form>
<input type='text'><br>
<input type='text'><br>
<input type='text'><br>
<input type='text'><br>
<input type='text'><br>
<button type="submit" href="/events">Submit</button>
</form>

<a href="/index">Back</a>

<% include ./partials/footer %>