body {
  background: #fff;
  height: 100%;
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

#main {
  min-height: 100%;
  padding: 50px 0;
}

.nameContent .btn{
  font-size: 3.5rem;
  background: transparent;
  color: #000 !important;
  margin-top: 0.5rem;
  transition: all 0.7s ease;
  font-weight: bolder;
  -webkit-animation: mymove 0.5s infinite; /* Chrome, Safari, Opera */
  animation: mymove 1.0s infinite;
}

@-webkit-keyframes mymove {
  from {margin-top: 0px;}
  to {margin-top: 50px;}
}

/* Standard syntax */
@keyframes mymove {
  from {margin-top: 0px;}
  to {margin-top: 50px;}
}

.container-hero {
  background-image: url("/assets/images/teenage_volunteers.jpg");
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: fit-content;
  margin-top: -5px
}

.container-home {
  background-color: rgb(22, 22, 22);
  display: flex;
  align-items: center !important;
  margin: 0 auto;
  text-align: center !important;
}

.container-signUp {
  background-image: url("/assets/images/signUpPage.jpg");
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: fit-content;
}

.container-volunteer {
  background-image: url("/assets/images/teenage_volunteers.jpg");
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: fit-content;
}

.container-events {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 0 auto;
}

.container-list {
  display: flex;
}

#card-event {
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.row-jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron-home {
  background-color: rgb(22, 22, 22) !important;
  opacity: 0.9;
  position: relative;
  text-align: center;
}

.jumbotron-events {
  background-color: rgb(22, 22, 22) !important;
  opacity: 0.9;
  position: relative;
  text-align: center;
  margin-top: 25px;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
  color: rgb(168, 168, 168) !important;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

h1, h2, h3, h4, h5 {
  color: rgb(211, 211, 211) !important;
  font-family: "Source Sans Pro", arial, sans-serif;
}

p {
  color: rgb(168, 168, 168) !important;
}

header, footer {
  position: absolute;
  width: 100%;
}

.navbar-toggler {
  opacity: 0.9;
}

.navbar {
  z-index: 1;
  opacity: 0.9;
}

header .navbar-brand, footer .footer-about {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
  color: rgb(221, 221, 221) !important;
}

.nav-item {
  text-align: right;
}

@media (max-width: 465.00px) {
  .nav-item {
    text-align: center;
    z-index: 20;
  }
}

.box {
  padding: 30px;
  background: #fff;
}

.site-hero-innerpage, .site-hero-innerpage .site-hero-inner {
  min-height: 550px;
  height: 50vh;
}

.site-section {
  padding: 4em 0;
}

.icon {
  text-align: center;
  color: rgb(67, 149, 255);
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

.card {
  display: inline-block;
  background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

@media (max-width: 720px) {
  .card {
    min-width: 100%;
  }
}

.card h4, h5 {
  color: #000 !important;
}

.card p {
  color: rgb(24, 24, 24) !important;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.row--card {
  margin: auto;
}

/*buttons*/
.btn-primary {
	width: 100px;
	background: rgb(9, 219, 9);
	font-weight: bold;
	color: white !important;
	border: 0 none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 5px;
  margin: 10px 5px;
}

.btn-warning {
  width: 100px;
  font-weight: bold;
	color: white !important;
	border: 0 none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 5px;
  margin: 10px 5px;
}

.eventBtn {
  margin: 0 auto;
}

.btn:hover:not(.downPointing), .btn:focus:not(.downPointing) {
	box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(9, 219, 9);
}

#msform {
  margin-top: 85px !important;
}


/* =============================== */
/* This is for the map styling */
/* =============================== */
#map {
  width:100%;
  height:50%;
  padding:0;
}
.map{
  border: 3px groove #92A0A4;
}

/* =============================== */
/* This is for the event edit page styling */
/* =============================== */

.editContainer, .showContainer{
  padding: 3% 5%;
  margin-top: 5%;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  -webkit-box-shadow: -1px 2px 16px 6px rgba(0,0,0,0.2); 
  box-shadow: -1px 2px 16px 6px rgba(0,0,0,0.2);
}

.edit-label{
  font-weight: bolder;
  font-size: 20px;
}
