body {
  background: #fff;
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #6c757d;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
  font-family: "Source Sans Pro", arial, sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

header .navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
  color: #fff !important;
}

header .navbar-collapse {
  position: relative;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  background: transparent !important;
}

@media (max-width: 991.98px) {
  header .navbar {
    background: rgba(0, 0, 0, 0.4) !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

header .navbar .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .navbar .navbar-nav.absolute-right {
  position: absolute;
  right: 0;
}

@media (max-width: 991.98px) {
  header .navbar .navbar-nav.absolute-right {
    position: relative;
    right: inherit;
  }
}

header .navbar .nav-link {
  padding: 1.7rem 1rem;
  font-size: 15px;
  outline: none !important;
}

@media (max-width: 991.98px) {
  header .navbar .nav-link {
    padding: 0.5rem 0.5rem;
  }
}

header .navbar .nav-link:hover {
  color: #fff !important;
}

header .navbar .nav-link.active {
  color: #fff !important;
}

header .navbar > a {
  color: #fff !important;
}

header .navbar {
  font-size: 14px;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
}

header .navbar {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
}

@media (max-width: 1199.98px) {
  header .navbar {
    display: none;
  }
}

header .navbar {
  background: #007bff;
  color: #fff;
}

header .navbar {
  background: #007bff;
  color: #fff;
}

header a {
  padding-top: 7px;
  padding-bottom: 7px;
}

header .navbar.navbar-light .nav-link {
  color: #fff;
}

header .navbar.navbar-light .nav-link.active {
  color: #fff;
}
