<% include ../partials/head %>
    <% include ../partials/header %>
        <div class="container-hero">
                <div class="container">
                        <% if (error && error.length > 0){%>
                            <div class="alert alert-danger" role="alert">
                                <%= error %>
                            </div>
                            <% }; %>
                                <% if (success && success.length > 0){%>
                                    <div class="alert alert-success" role="alert">
                                        <%= success %>
                                    </div>
                                    <% }; %>
                                        <% if (info && info.length > 0){%>
                                            <div class="alert alert-success" role="alert">
                                                <%= info %>
                                            </div>
                                            <% }; %>
                    </div>

            <form id="msform" action="/login" method="POST">
                <br>
                <!-- fieldsets -->
                <fieldset>
                    <h1 class="signUpHeader">Log In</h1>
                    <hr>
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <input type="submit" name="login" class="next action-button" value="Login" />
                </fieldset>
            </form>
        </div>
        <% include ../partials/footer %>