<% include ../partials/head %>
    <% include ../partials/header %>
<%=events%>
        <div class="container">
            <div class="col-jumbotron col-6">
                <div class="jumbotron jumbotron-events bg-dark col-12">
                    <h1>Your Events</h1>
                </div>
            </div>
            <div class="jumbotron col-6">
                <div class="jumbotron jumbotron-events bg-dark col-12">
                    <div class="jumbotron jumbotron-events bg-dark col-12">
                        <h1>Sign Up Events</h1>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/footer %>